body {
    background-color: white;
    padding: 20px;

}

.top {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;   
}

input {
    width: 300px;
    height: 40px;
    border-radius: 25px;
    padding: 0 20px;
}

.navBar {
    padding: 10px;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
}
.boxes {
    display: flex;
    gap: 20px;
    justify-content: right;
}
.leftPanel,
.centerPanel {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.updateCircle {
    display: flex;
    flex-direction: center;
    gap: 10px;
    margin-top: 40px;
}
.outerCircle{
    width:150px;
    height:150px;

    border-radius:50%;
    background:#cfb991;

    display:flex;
    justify-content:center;
    align-items:center;
}
.innerCircle{
    width:120px;
    height:120px;

    border-radius:50%;
    background:white;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;
}

.checkButton {
    border-radius: 25px;
    height: 8vh;
    width: 33vw;
    background-color: #cfb991;

}
.circle {
    background-color: #cfb991;
    display: flex;
    justify-content: center;
    align-items: center;   /* vertical upper */
    border-radius: 50%;
    width: 140px;
    height: 140px;
}
.taReviewSquare,
.taNameSquare {
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: flex-start;   /* vertical upper */
    padding-top: 10px;
    border-radius: 25px;
}

.tableContainer {
    flex: 1;
    overflow-y: auto;
}
.timeTable {
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;

    width: 33vw;
    height: 80vh;

    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.time-table {
    width: 100%;
    border-collapse: collapse;
}

.time-table th,
.time-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.time-table th {
    background-color: #cfb991;
}
.taReviewSquare {
    background-color: #cfb991;
    width: 33vw;
    height: 90vh; /* 90% of the screen */
}
.taNameSquare {
    background-color: #cfb991;
    width: 25vw;
    height: 35vh; 
}
.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #cfb991;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.side-nav a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: black;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
}