* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: white;
    color: #000000;
    line-height: 1.6;
    min-height: 100vh
}

header {
    background: #ffffff;
    color: #cfb991;
    padding: 1rem;
    text-align: center;
    padding: 0;
    margin-top: 0;
}

nav {
    background: #333;
    border-radius: 0px 25px 25px 0px;
    padding: 0.5rem;
    width: 120px;
    flex-shrink: 0;
    background-color: rgb(255, 255, 255);
    border: 4px solid #cfb991;
    position: sticky;
    top: 0;
    height: 100vh;
}

nav ul {
    margin-top: 85px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: calc(100% - 85px);
}

nav li {
    margin-bottom: 25px;
    font-weight: bold;
}

main {
    padding: 1rem;
    margin: 0;
    flex-grow: 1;
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

h1, h2 {
    margin-top: 0;
    padding-top: 10px; 

}
button {
    background: #cfb991;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
}

button:hover {
    background: #a39171;
}

.wrapper {
    display: flex;
    min-height: 100vh
}

.nav-btn {
    background: #ffffff;
    color: #cfb991;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.nav-btn:hover {
    background: #eaeaea;
    color: #cfb991;
}

.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
}

.line-spot {
    background-color: #cfb991; 
    border-radius: 25px;      
    padding: 20px;
    width: 300px;  
    height: 240px;
    margin: 20px 0;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.line-header {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.line-number {
    background-color: white;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
}

.line-name {
    font-size: 1.4rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
}

.lime-body {
    font-size: 1.25rem;
    line-height: 1.4;
    text-align: left;
    margin: 0;
}

.line-footer {
    display: flex;
    justify-content: flex-end; 
    width: 100%;
}

.remove-btn {
    background-color: #ff2134; 
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    padding: 8px 18px;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.remove-btn:hover {
    background-color: #d11222;
}

.line-container {
    display: flex;         
    flex-direction: row;   
    flex-wrap: wrap;       
    gap: 20px;
    width: 100%;   
}

.scroll-zone {
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 5px;
}

.nav-settings {
    margin-top: auto;
    margin-bottom: 25px;
}

.feedback-card {
    background: #cfb991;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
    position: absolute;
    width: 1150px;
    height: 575px;
    top: 70px;
}

.feedback-header {
    top: 35px;
}

.card {
    background: #cfb991;
    position: absolute;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
    margin-top: 15px;
    width: 1150px;
    height: 295px;
    top: 50px;
    left: 140px;
}

.curr-hours-card {
    background: #a6a6a6;
    position: absolute;
    padding: 25px;
    border-radius: 12px;
    width: 1100px;
    height: 10px;
    left: 25px;
    top: 45px;
}

.new-hours-card {
    background: #a6a6a6;
    position: absolute;
    padding: 25px;
    border-radius: 12px;
    width: 1100px;
    height: 100px;
    left: 25px;
    top: 135px;
}

h3 {
    position: absolute;
    top: 10px;
}

.new-header {
    position: absolute;
    top: 105px;
}

.submit-button {
    background-color: #00bf63; 
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    padding: 8px 18px;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 13px;
    right: 523px;
}

.submit-button:hover {
    background-color: #00a656
}

.class-card {
    background: #cfb991;
    position: absolute;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
    margin-top: 15px;
    width: 800px;
    height: 210px;
    top: 410px;
    left: 140px;
}

.classes-header {
    position: absolute;
    top: 375px;
}

.modify-hours {
    position: absolute;
    top: 15px;
}

.curr-class-header {
    position: absolute;
    top: 10px;
}

.curr-classes {
    background: #a6a6a6;
    position: absolute;
    padding: 25px;
    border-radius: 12px;
    width: 575px;
    height: 72px;
    left: 25px;
    top: 40px;
}

.remove-btn-2 {
    background-color: #ff2134; 
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    padding: 8px 18px;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 115px;
    right: 70px;
}

.remove-btn-2:hover {
    background-color: #d11222;
}

.add-class-header{
    position: absolute;
    top: 115px;
}

.new-class {
    position: absolute;
    padding: 25px;
    border-radius: 12px;
    width: 250px;
    height: 10px;
    top: 142px;
}

.enter-button-2 {
    background-color: #00bf63; 
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    padding: 8px 18px;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 150px;
    right: 425px;
}

.enter-button-2:hover {
    background-color: #00a656
}





